<form class="large white">
    <fieldset>
        <div>
            <span class="dropdown block white">
                <span class="option">{{defaultTrainer}}</span>
                <select id="select-trainer" class="select-trainer" name="trainer">
                {{#each trainers}}
                    <option value="{{trainerId}}">{{trainerFirstName }} {{trainerLastName}}</option>
                {{/each}}
                </select>
            </span>
        </div>
        <div>
            <span class="dropdown block white">
                <span class="option">{{defaultDuration}}</span>
                <select id="select-duration" class="select-duration" name="duration">
                {{#each durations}}
                    <option value="{{sessionTypeId}}">{{duration}}</option>
                {{/each}}
                </select>
            </span>
        </div>
    </fieldset>
</form>
